@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background-color: #3C3034;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.fakeComposeTweet {
  position: relative;
  width: 520px;
  height: 200px;
  display: inline-block;
  color: #7A879A;
  background-color: #E4EEF4;
  border: solid grey 1.1px;
  border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187); border-width: 1px; border-style: solid; box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
  border-radius: 7px;
}

.top {
  background-color: #FFFFFF;
  position: absolute;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 520px;
  border-bottom: 1px #9FD0E2 solid;
  text-shadow: .75px .75px .75px rgba(150,150,150,.5);*/
  font-size: .95em;
  color: rgb(136,153,166);
  height: 37px;
  text-align: center;
}

.top p{
  margin-top: 10px;
}

.entry {
  position: absolute;
  bottom: 65px;
  right: 10px;
  height: 80px;
  width: 495px;
  border: 1px rgb(172, 215, 231) solid;
  border-radius: 3px;
}

/*button time*/
.submitButton{
  background-color: rgb(46, 154, 194);
  color: white;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  font-size: 0.9em;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.submitButton:hover{
  background-color: rgb(0, 116,158);
}

.fakeWidget {
  position: relative;
  width: 480px;
  height: 160px;
  display: inline-block;
  background-color: white;
  color: black;
  padding: 12px;
  border-radius: 7px;
  margin: 5px;
  border: solid grey 1.1px;
border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187); border-width: 1px; border-style: solid; box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
}

.image {
  position: absolute;
  display: inline-block;
  left: 18px;
  top: 18px;
}

.fakeWidget img {
  border-radius: 5px;
}

.name {
  display: inline-block;
  font-size: 20px;
  position: absolute;
  left: 80px;
  top: 18px;
    font-weight: 600;
}

.name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.handle {
  display: inline-block;
  font-size: 14px;
  color: grey;
  position: absolute;
  left: 80px;
  top: 42px;
}

.followButton {
  display: inline-block;
  font-size: 10px;
  position:absolute;
  top: 18px;
  right: 15px;
    padding-right: 10px;
}

.line {
  color: grey;
  position: absolute;
  bottom: 40px;
  left: 18px;
  border-bottom: 1px #eaeaea solid;
  width: 93%;  
}

.tweet {
  font-family: Georgia,"Times New Roman",Palatino,serif;
  font-size: 18px;
  left: 18px;
  bottom: 70px;
  position: absolute;
}

.reply {
  position: absolute;
  color: grey;
  font-size: 16px;
  letter-spacing: 4px;
  bottom: 10px;
  right: 75px;
}

.retweet {
  position: absolute;
  color: grey;
  font-size: 16px;
  letter-spacing: 4px;
  bottom: 10px;
  right: 45px;
}

.star {
  position: absolute;
  color: grey;
  font-size: 16px;
  letter-spacing: 4px;
  bottom: 10px;
  right: 15px;
}

.clicked {
  color: #55ACEE;
}

.icon:hover{
  color: #55ACEE;
  cursor: pointer;
}

.icons {
  color: grey;
}

.time {
  font-size: 12px;
  position: absolute;
  display: inline-block;
  color: grey;
  left: 18px;
  bottom: 15px;
}

.time:hover {
  text-decoration: underline;
  color: #55ACEE; 
  cursor: pointer;
}
